<nav class="fixed flex justify-between items-center z-50 h-auto w-full bg-grad2 px-6 sm:px-9 py-4">
    <a class="text-lg text-accent font-semibold select-none cursor-pointer" href="/">ImgCompressor</a>
    <div class="flex items-center gap-6 text-sm font-medium">
        <a class="cursor-pointer hover:text-accent transition-colors" href="/">Home</a>
        <a class="cursor-pointer hover:text-accent transition-colors" href="/about">About</a>
        <a class="cursor-pointer hover:text-accent transition-colors" href="/auth/signin">Sign In</a>
        <a class="text-accent px-6 py-2 rounded-full cursor-pointer border border-accent
           hover:bg-gradient-to-br from-accentLight to-accent hover:border-transparent hover:text-white transition-[backgroundColor]"
           href="/auth/signup">Sign Up</a>
    </div>
</nav>